html {
    scroll-behavior: smooth;
}


:root {
    --white-color: #FFFFFF;
    --black-color: #000;
    --grey-background-color: #F0F0F0;
}

body {
    background-color: #FFFFFF;
    margin: 0;
    font-family: serif;
    overflow-x: hidden;
}

header {
    margin-top: 0;
    background-color: var(--black-color);
    padding: 1px;
    width: 100%;
    font-size: large;
    color: var(--white-color);
    text-align: center;
}

header a {
    color: var(--white-color);
}

.main-container {
    margin: 0px 80px;
}

.nav-container {
    margin-top: 10px;
}

.nav-container>h1 {
    display: inline;
    font-size: 32px;
    font-weight: 900;
    position: relative;

}

.nav-sub-container {
    display: inline;
    position: relative;
    margin-left: 10px;
}

.nav-sub-container a {
    text-decoration: none;
    color: var(--black-color);
    font-size: 16px;
    font-weight: 400;
    padding: 0px 10px;
}

.nav-sub-container>input {
    width: 500px;
    height: 50px;
    border-radius: 62px;
    border: none;
    background-color: #F0F0F0;
    font-size: larger;
    font-weight: 400;
}

.nav-sub-container>.search-icon {
    position: relative;
    left: 40px;
    top: 5px;
}

.nav-sub-container>input::placeholder {
    position: absolute;
    left: 50px;
}

.nav-sub-container .nav-icon-section {
    display: inline;
    margin-left: 15px;
}

.nav-icon-section {
    padding: 10px;
}

.nav-icon-section img {
    padding: 0px 10px;
}

.teaser {
    margin-top: 15px;
    position: relative;
}

.teaser-background-image img {
    width: 100%;
    /* z-index: -1; */
}

.teaser .top-right {
    position: absolute;
    top: 110px;
    right: 80px;
    width: 70px;
    height: 70px;
}

.teaser .bottom-left {
    position: absolute;
    top: 275px;
    right: 550px;
    width: 50px;
    height: 50px;
}

.teaser .teaser-sub-container {
    position: absolute;
    top: 50px;
}

.teaser-sub-container .teaser-heading {
    font-size: large;
}

.brand {
    background-color: #000;
    width: 100%;
}

.brand .brand-container {
    padding: 20px 0px;
}

.brand .brand-container>img {
    margin-right: 50px;
}






.section-heading {
    text-align: center;
    font-size: 50px;
    font-weight: 900;
}

.card-container {
    display: flex;
}

.card {
    margin-right: 15px;
}

.card>img {
    border-radius: 25px;
}

.card>.product-info {
    font-weight: 900;
}

.card>.price {
    font-weight: 900;
    font-size: large;
    display: inline;
    margin-right: 5px;
}

.card>.price-hidden {
    display: inline;

}

.reduction-percentage {
    display: inline-block;
    background-color: rgb(248, 215, 221);
    color: red;
    width: 30px;
    font-size: small;
    padding: 5px 10px;
    margin-left: 5px;
    border-radius: 20px;

}

.center-button {
    text-align: center;
}

.center-button>input {
    width: 190px;
    height: 50px;
    background-color: var(--white-color);
    border-radius: 35px;
    margin-top: 15px;
    border-color: #c8c8c8;
}

.separater {
    margin-top: 55px;
}

.price-hidden {
    text-decoration: line-through;
}

.dress-style-section-container {
    background-color: #F0F0F0;
}

.dress-style-section-card {
    display: inline;
    position: relative;
    margin-right: 15px;
    border-radius: 50px;
}

.dress-style-section-card>p {
    display: inline;
    font-size: 35px;
    font-weight: 900;

}

.dress-style-section-card-2>p {
    position: absolute;
    right: 500px;


}

.review-section>.section-heading {
    text-align: left;
    font-size: 40px;
}

.review-section-card-container {
    display: flex;
}

.review-section-card {
    border: 1px solid;
    border-color: #c8c8c8;
    margin-right: 15px;
    border-radius: 20px;
    padding: 20px;
}

.subscribe-section {
    background-color: var(--black-color);
    color: var(--white-color);
    position: absolute;
    border-radius: 25px;
    bottom: 340px;
    width: 90%;
    left: 5%;
}

.subscribe-section .subscribe-heading {
    width: 490px;
    font-size: 35px;
    position: relative;
    left: 40px;
    font-weight: 900;

}


.subscribe-section .subscribe-input {
    position: absolute;
    right: 110px;
    top: 40px;
    width: 300px;
}

.subscribe-input>* {
    width: 250px;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 50px;
}

.subscribe-input>input::placeholder {
    position: relative;
    left: 45px;
}

.subscribe-input>button {
    height: 35px;
    width: 260px;
}

footer {
    position: relative;
    width: 100%;
    background-color: var(--grey-background-color);
    padding-top: 150px;
    margin-top: 150px;
}

.footer-section {
    position: relative;
    bottom: 20px;

}

.footer-table th {
    text-align: left;
}

.footer-table tr td {}

.footer-table :nth-child(2) :nth-child(1) {
    word-wrap: break-word;
    width: 250px
}

table tr td:nth-child(n+1),
th:nth-child(n+1) {
    padding-left: 0px;
    padding-right: 100px;
    text-align: left;
}



.copyright-section {
    display: inline-block;
    width: fit-content;
}

.payment-providers {
    float: right;
    display: inline;
}